# Ignoriert temporäre Dateien und Build-Artefakte
*.bak
*.tmp
*.log

# Ignoriert IDE-spezifische Dateien
.idea/
*.iml

# VS Code-Einstellungen
.vscode/*
!.vscode/settings.json
!.vscode/launch.json

# Ignoriert Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db
*.ps1

# Ignoriert kompilierte Dateien
*.class
*.jar
*.pyc
*.json

# Puppeteer
node_modules/
package-lock.json
package.json

# Virtuelle Umgebung
.venv/
.env

# Sonstige Dateien
doc/
docs/
*.txt
insta-visuals/
generate-insta-screenshots.js
1080x1080-screenshots/
1080x1080-visuals/
1080x1920-screenshots/
1080x1920-visuals/
generate-1080x1080-screenshots.js
generate-1080x1920-screenshots.js